<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>file uploader demo</title>
  <link rel="stylesheet" type="text/css" th:href="@{/libs/bootstrap-3.3.7/css/bootstrap.css}">
</head>
<body>
<div id="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="http://fex.baidu.com/webuploader/">webuploader</a>
    </div>
    <div class="panel-body">
      <a th:href="@{'/webUploader'}">demo</a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="https://fineuploader.com/">fine-uploader</a>
    </div>
    <div class="panel-body">
      <a th:href="@{'/fineUploader'}">demo</a>
    </div>
  </div>
</div>
</body>
</html>